.fish4_1{

 position: absolute;
 z-index:1;
 animation-name:swim4_1;
 animation-duration:30s;
 animation-timing-function: ease-in-out;
 animation-iteration-count:infinite;
     
}

.fish4_1 img{
 width: 130px;
 height: auto;
}


@keyframes swim4_1{ 

/* 開始時点　魚の位置決定  */    
from{
  left:10%;
  top:40%;
 }

/* 30%経過　魚をゆがませる */    
  30%{
        transform: skew(20deg,10deg);
    }    
    
/* 50%経過　魚を反転させる */  
  50%{
        left:80%;
        top:20%;
        transform:rotateY(180deg);  
    }
        
/* 終了時点　反転を戻しながら位置も開始時点に戻す */  
  to{
        left:10%;
        top:40%;        
    }

}   

.fish4_2{

 position: absolute;
 z-index:1;
 animation-name:swim4_2;
 animation-duration:40s;
 animation-timing-function: ease-in-out;
 animation-iteration-count:infinite;
     
}

.fish4_2 img{
 width: 130px;
 height: auto;
}


@keyframes swim4_2{ 

/* 開始時点　魚の位置決定  */    
from{
  left:5%;
  top:10%;
 }

/* 30%経過　魚をゆがませる */    
  30%{
        transform: skew(20deg,10deg);
    }    
    
/* 50%経過　魚を反転させる */  
  50%{
        left:80%;
        top:40%;
        transform:rotateY(180deg);  
    }
        
/* 終了時点　反転を戻しながら位置も開始時点に戻す */  
  to{
        left:5%;
        top:10%;        
    }

}  
