.plants_1{
    position: absolute;
    z-index: 2;
    bottom: -1em;
    left:25%;
    }
.plants_2{
    position: absolute;
    z-index: 2;
    bottom: 1%;
    left:65%;
    }    
.plants_3{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left:0%;
    }    

.leafbox_1{
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left:1%;
    }
.leafbox_2{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left:30%;
    } 
.leafbox_3{
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left:55%;
    }        


.leaf1{
    left: 210px;
	position: absolute;
    z-index: 19;
    bottom: 0px;
}.leaf1 img{width: 67px;height: 251px;} 

.leaf2{
    left: 220px;
	position: absolute;
    z-index: 18;
    bottom: 0px;
}.leaf2 img{width: 75px;height: 342px;}     

.leaf3{
    left: 230px;
	position: absolute;
    z-index: 12;
    bottom: 0px;
}.leaf3 img{width: 68px;height: 383px;}     

.leaf4{
    left: 240px;
	position: absolute;
    z-index: 13;
    bottom: 0px;
}.leaf4 img{width: 57px;height: 136px;}     

.leaf5{
    left: 250px;
	position: absolute;
    z-index: 15;
    bottom: 0px;
}.leaf5 img{width: 63px;height: 364px;}     

.leaf6{
    left: 250px;
	position: absolute;
    z-index: 15;
    bottom: 0px;
}.leaf6 img{width: 32px;height: 236px;}         
    

.leaf1{
	transform-origin: center bottom;
    animation-name:leaf001;
	animation-duration:14s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes leaf001{from{transform:rotate(14deg);}50%{transform:rotate(-7deg);}to{transform:rotate(14deg);}}    

.leaf2{
	transform-origin: center bottom;
    animation-name:leaf002;
	animation-duration:9s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes leaf002{from{transform:rotate(-14deg);}50%{transform:rotate(7deg);}to{transform:rotate(-14deg);}}    

.leaf3{
	transform-origin: center bottom;
    animation-name:leaf003;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes leaf003{from{transform:rotate(-14deg);}50%{transform:rotate(7deg);}to{transform:rotate(-14deg);}}    

.leaf4{
	transform-origin: center bottom;
    animation-name:leaf004;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes leaf004{from{transform:rotate(14deg);}50%{transform:rotate(-7deg);}to{transform:rotate(14deg);}}    

.leaf5{
	transform-origin: center bottom;
    animation-name:leaf005;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes leaf005{from{transform:rotate(-14deg);}50%{transform:rotate(7deg);}to{transform:rotate(-14deg);}}    

.leaf6{
	transform-origin: center bottom;
    animation-name:leaf006;
	animation-duration:8s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes leaf006{from{transform:rotate(14deg);}50%{transform:rotate(-7deg);}to{transform:rotate(14deg);}}      