.stickbox_1{
    position: absolute;
    bottom: -0.3%;
    left:0%;
    }

.stickbox_2{
    position: absolute;
    bottom: 3%;
    left:20%;
    }

.stickbox_3{
    position: absolute;
    bottom: 3%;
    left:65%;
    }
     
    
.stick1{
    left: 200px;
	position: absolute;
    z-index: 57;
    bottom: 0px;
}.stick1 img{width: 25px;height: 100px;} 

.stick2{
    left: 210px;
	position: absolute;
    z-index: 59;
    bottom: 0px;
}.stick2 img{width: 25px;height: 100px;} 

.stick3{
    left: 220px;
	position: absolute;
    z-index: 58;
    bottom: 0px;
}.stick3 img{width: 25px;height: 90px;}   

.stick4{
    left: 230px;
	position: absolute;
    z-index: 52;
    bottom: 0px;
}.stick4 img{width: 25px;height: 100px;}  

.stick5{
    left: 240px;
	position: absolute;
    z-index: 53;
    bottom: 0px;
}.stick5 img{width: 25px;height: 100px;} 

.stick6{
    left: 250px;
	position: absolute;
    z-index: 55;
    bottom: 0px;
}.stick6 img{width: 25px;height: 90px;}  

.stick7{
    left: 260px;
	position: absolute;
    z-index: 58;
    bottom: 0px;
}.stick7 img{width: 25px;height: 90px;}     
.stick8{
    left: 270px;
	position: absolute;
    z-index: 60;
    bottom: 0px;
}.stick8 img{width: 25px;height: 100px;}     
.stick9{
    left: 280px;
	position: absolute;
    z-index: 54;
    bottom: 0px;
}.stick9 img{width: 25px;height: 110px;}   

.stick10{
    left: 290px;
	position: absolute;
    z-index: 58;
    bottom: 0px;
}.stick10 img{width: 25px;height: 100px;}   

    
.stick1{
	transform-origin: center bottom;
    animation-name:stick1;
	animation-duration:13s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick1
    {from{transform:rotate(6deg);}50%{transform:rotate(-5deg);}to{transform:rotate(6deg);}}  

.stick2{
	transform-origin: center bottom;
    animation-name:stick2;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick2{from{transform:rotate(4deg);}50%{transform:rotate(-5deg);}to{transform:rotate(4deg);}} 

.stick3{
	transform-origin: center bottom;
    animation-name:stick3;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick3{from{transform:rotate(5deg);}50%{transform:rotate(-4deg);}to{transform:rotate(5deg);}}   

.stick4{
	transform-origin: center bottom;
    animation-name:stick4;
	animation-duration:6s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick4{from{transform:rotate(6deg);}50%{transform:rotate(-6deg);}to{transform:rotate(6deg);}}  

.stick5{
	transform-origin: center bottom;
    animation-name:stick5;
	animation-duration:9s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick5{from{transform:rotate(6deg);}50%{transform:rotate(-4deg);}to{transform:rotate(6deg);}}    

.stick6{
	transform-origin: center bottom;
    animation-name:stick6;
	animation-duration:8s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick6{from{transform:rotate(-4deg);}50%{transform:rotate(-6deg);}to{transform:rotate(-4deg);}}  

.stick7{
	transform-origin: center bottom;
    animation-name:stick7;
	animation-duration:13s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick7{from{transform:rotate(4deg);}50%{transform:rotate(-5deg);}to{transform:rotate(4deg);}}   

.stick8{
	transform-origin: center bottom;
    animation-name:stick8;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick8{from{transform:rotate(-5deg);}50%{transform:rotate(-4deg);}to{transform:rotate(-5deg);}}  

.stick9{
	transform-origin: center bottom;
    animation-name:stick9;
	animation-duration:8s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick9{from{transform:rotate(-6deg);}50%{transform:rotate(-4deg);}to{transform:rotate(-6deg);}} 

.stick10{
	transform-origin: center bottom;
    animation-name:stick10;
	animation-duration:9s;
	animation-iteration-count:infinite;
	animation-timing-function: ease;
}@keyframes stick10{from{transform:rotate(4deg);}50%{transform:rotate(-5deg);}to{transform:rotate(4deg);}}    
    






