.fish6_1{

 position: absolute;
 z-index:1;
 animation-name:swim6_1;
 animation-duration:10s;
 animation-timing-function: ease-in-out;
 animation-iteration-count:infinite;
     
}

.fish6_1 img{
 width: 200px;
 height: auto;
}


@keyframes swim6_1{ 

/* 開始時点　魚の位置決定  */    
from{
  left:10%;
  top:60%;
 }

/* 30%経過　魚をゆがませる */    
  30%{
        transform: skew(20deg,10deg);
    }    
    
/* 50%経過　魚を反転させる */  
  50%{
        left:80%;
        top:40%;
        transform:rotateY(180deg);  
    }
        
/* 終了時点　反転を戻しながら位置も開始時点に戻す */  
  to{
        left:10%;
        top:60%;        
    }

}   

.fish6_2{

 position: absolute;
 z-index:1;
 animation-name:swim6_2;
 animation-duration:30s;
 animation-timing-function: ease-in-out;
 animation-iteration-count:infinite;
     
}

.fish6_2 img{
 width: 200px;
 height: auto;
}


@keyframes swim6_2{ 

/* 開始時点　魚の位置決定  */    
from{
  left:0%;
  top:30%;
 }

/* 30%経過　魚をゆがませる */    
  30%{
        transform: skew(20deg,10deg);
    }    
    
/* 50%経過　魚を反転させる */  
  50%{
        left:80%;
        top:10%;
        transform:rotateY(180deg);  
    }
        
/* 終了時点　反転を戻しながら位置も開始時点に戻す */  
  to{
        left:0%;
        top:30%;        
    }

}